body {
    padding: 50px;
}

#send {
	position: relative;
	left: 0px;
	bottom: 50px;
}

.msg-svg {
	border:1px solid black;
}

.nv {
  fill: gray;
  stroke: black;
}

.ny {
  fill: #6473e2;
  stroke: black;
}



#cursor {
	animation: ball 4s linear;
}

@keyframes ball {
    from  { transform: translateX(0)      }
    to    { transform: translateX(400px)  }
}

