body {
    padding: 10px;
}


_div {
  border: 1px solid gray;
}

#status {
  color: red;
}

#send {
	position: relative;
	left: 0px;
	bottom: 50px;
}

.msg-svg {
	_border:1px solid #222;
  _box-shadow: 1px 1px 3px #4f4f4f;
}

.msg-svg > rect {
  _fill-opacity: 70%;
}

#messagelist {
  overflow: auto;
  height: 400px;
}

.nv {
  fill: gray;
  stroke: black;
}

.ny {
  fill: #6473e2;
  stroke: black;
}



#cursor {
	animation: move 2s linear;
}

@keyframes move {
    from  { transform: translateX(0)      }
    to    { transform: translateX(400px)  }
}

